html {
    font-family: 'Oxanium', 'Noto Sans KR' ;
}

body {margin: 0; padding: 0; background-color: #FCFBFB;}

a, a:visited, a:hover {
    text-decoration: none;
    
}

#header { min-width : 1400px; height: 300px; background-color: #BDADF1; box-shadow: 0 0 20px;}
#header img { height: 300px; margin: 0 auto; display: block; }

#menu_pack { min-width: 1400px; height: 26px;}

#menu { width: 1400px; height: 26px; background-color: #333333; display: flex; margin: 0 auto;}
#menu div {width: 150px; height: 26px;}
#menu a div img {width: 150px;}

#title {width: 1400px; margin: 0 auto;}
#title img {width: 1400px; margin: 0 auto;}

#history {width : 1400px; display: flex; justify-content: space-between; margin: 0 auto; height: auto;}
#history div:nth-child(1){width: 699px;}
#history div:nth-child(2){width: 2px;}
#history div:nth-child(3){width: 699px;}

#history #mid_line #line {width: 2px; height: 100%; background-color: #333; margin: 50px auto; }

#history #right_h{margin-top: 50px;}
#history #right_h .h_img { width: 600px; height: 800px; margin: 0 auto; padding-left: 99px; border-top: 1px solid #222;}
#history #right_h img { width: 600px;}

#history #left_h{margin-top: 50px;}
#history #left_h .h_img { width: 600px; height: 800px; margin: 0 auto; padding-right: 99px; border-top: 1px solid #222;}
#history #left_h img { width: 600px;}

#history #blank { height: 400px; border: 0px;}

#desc {width: 1400px; margin: 0 auto;}
#desc img {width: 1400px; margin: 0 auto;}