html {
    font-family: 'Oxanium', 'Noto Sans KR' ;
}

body {margin: 0; padding: 0; background-color: #FCFBFB;}

a, a:visited, a:hover {
    text-decoration: none;
    
}

#header { min-width : 1250px; height: 400px; background-color: #D4CBB0; box-shadow: 0 0 20px;}
#header img { height: 400px; margin: 0 auto; display: block; }

#menu { min-width: 1250px; height: 92px; background-color: #333333; display: flex; }
#menu div {width: 150px; height: 92px;}
#menu a div img {width: 150px;}

#title {width: 1250px; margin: 0 auto;}
#title img {width: 1250px; margin: 0 auto;}

#history {width : 1250px; display: flex; justify-content: space-between; margin: 0 auto;}
#history div:nth-child(1){width: 49%;}
#history div:nth-child(2){width: 2%;}
#history div:nth-child(3){width: 49%;}

#history #mid_line #line {width: 2px; height: 100%; background-color: #333; margin: 50px auto; }

#history #blank { height: 400px;}

#history #right_h{margin-top: 50px;}
#history #right_h div { width: 600px; height: 800px; margin: 0 auto; padding-left: 80px; border-top: 1px solid #222;}
#history #right_h img { width: 600px;}

#history #left_h{margin-top: 50px;}
#history #left_h div { width: 600px; height: 800px; margin: 0 auto; padding-left: 80px; border-top: 1px solid #222;}
#history #left_h img { width: 600px;}

#desc {width: 1250px; margin: 0 auto;}
#desc img {width: 1250px; margin: 0 auto;}